/* ResultsPage.module.css */
.mainContainer {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .jellyCut {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    font-size: 1.5rem;
    color: white; /* Set text color to white */
}

  
  .heading {
    color: white;
    margin-bottom: 20px;
  }
  
  .videoPlayer {
    width: 80%;
    max-width: 600px;
    border-radius: 12px;
  }
  
  .downloadButton {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-top: 20px;
  }
  
  .downloadButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
  }

  .videoPlayer {
    width: 300px; /* Set the width of the video */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  .mockNav{ 
    width: 95vw;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
  