.container {
    position: relative; /* Make the container relative for absolute positioning inside */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
    background-image: url('/bg.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed during scroll */
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
}

.pSemi {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    color:white;
}

.uploadBox {
    background: rgba(255, 255, 255, 0.1); /* Light, highly frosted background */
    backdrop-filter: blur(15px); /* Stronger blur for a super frosty effect */
    color: white;
    padding: 20px;
    border-radius: 12px;
    width: 70vw; /* 70% of the viewport width */
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Enhanced glassmorphism border */
    border: 1px solid rgba(255, 255, 255, 0.05); /* Light, semi-transparent border for a frosted edge */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); /* Soft, spread-out shadow for depth */
}

.uploadBox input[type="file"] {
    color: black;
}

.userButton {
    position: absolute;
    top: 40px;
    left: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Drop shadow for visibility */
}

.mockNav{ 
    position: absolute;
    width: 95vw;
    top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jellyCut {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    font-size: 1.5rem;
    color: white; /* Set text color to white */
}

.stack2 {
    border-radius: 16px;
    border: 2px dashed #000000;
    width: 100%; /* 100% width of the parent container */
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton {
    padding: 15px 30px; /* Increased padding for a larger button */
    border-radius: 15px; /* Rounded corners */
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin-top: 20px; /* Space above the button to separate it from other elements */
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

.submitButton .arrow {
    transform: rotate(-90deg); /* Move arrow slightly on hover */

}

.submitButton:disabled, /* Inactive state when the upload status is blank */
.submitButton.inactive {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}

.submitButton .arrow {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.submitButton:hover .arrow {
    transform: rotate(0deg); /* Move arrow slightly on hover */
}
